<section class="login">
    <div class="row text-center wrapper">
        <div class="col-md-12">
            <h2>Login</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="showLoginForm">
                <div class="form-group">
                    <label for="username">Username*</label>
                    <input type="text" class="form-control" id="username" formControlName="username"/>
                  </div>
                  <div class="form-group">
                    <label for="password">Password*</label>
                    <input type="password" class="form-control" id="password" formControlName="password"/>
                  </div>
                  <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
                  <button type="button" (click)="showLoginForm = !showLoginForm;createRegisterForm()" class="btn btn-primary m-l-10">Register</button>
            </form>
            <form [formGroup]="registerForm" (ngSubmit)="register()" *ngIf="!showLoginForm">
                <div class="form-group">
                    <label for="rusername">Username*</label>
                    <input type="text" class="form-control" id="rusername" formControlName="username"/>
                  </div>
                  <div class="form-group">
                    <label for="rpassword">Password*</label>
                    <input type="password" class="form-control" id="rpassword" formControlName="password"/>
                  </div>
                  <div class="form-group">
                    <label for="rpassword">Confirm Password*</label>
                    <input type="password" class="form-control" id="rpassword" formControlName="confirmPassword"/>
                  </div>
                  <button type="button" (click)="showLoginForm = !showLoginForm" class="btn btn-primary">Go to Login</button>
                  <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary m-l-10">Register</button>
            </form>
        </div>
    </div>
</section>
